.footer {
  background: linear-gradient(135deg, #043d2b, #0d6e46, #1dd286);
  color: #eaf7ef;
  padding: 40px 30px 20px;
  font-family: "Poppins", sans-serif;
  width: 100%;
  box-sizing: border-box;
}

/* WRAPPER */
.wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1200px;
  margin: auto;
}

/* BRAND */
.brand {
  flex: 1 1 250px;
  max-width: 300px;
}

.logo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.desc {
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 10px;
}

.contact p {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 5px 0;
  font-size: 14px;
}

/* COLUMNS */
.col {
  flex: 1 1 160px;
  min-width: 150px;
}

.col h3 {
  color: #ffcc00;
  font-size: 16px;
  margin-bottom: 10px;
}

.col ul {
  list-style: none;
  padding: 0;
}

.col li {
  padding: 5px 0;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s;
}

.col li:hover {
  color: #fff;
  transform: translateX(4px);
}

/* NEWSLETTER */
.newsletter {
  flex: 1 1 220px;
  max-width: 260px;
}

.newsletter h3 {
  color: #ffcc00;
  font-size: 16px;
  margin-bottom: 10px;
}

.newsletter form {
  display: flex;
  gap: 8px;
}

.newsletter input {
  flex: 1;
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-size: 14px;
}

.newsletter button {
  padding: 10px 16px;
  border: none;
  border-radius: 25px;
  background: #ffcc00;
  font-weight: 600;
  cursor: pointer;
}

/* BOTTOM */
.bottom {
  margin-top: 25px;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  padding-top: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 130px;
}

.bottom p {
  font-size: 13px;
}

.socials {
  display: flex;
  gap: 15px;
}

.socials svg {
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
}

.socials svg:hover {
  color: #ffcc00;
  transform: scale(1.12);
}

/* MOBILE */
@media (max-width: 768px) {
  .wrapper {
    flex-direction: column;
    text-align: center;
    gap: 25px;
  }

  .newsletter form {
    flex-direction: column;
  }

  .bottom {
    flex-direction: column;
    gap: 10px;
  }
}
